#Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized

In [ ]:
Some of the popular languages that Data Scientists use are:
1.python
2.r
3.java
4.ruby

In [73]:
**objective:**
#List popular languages for Data Science
-libraries
-expressions
-languages
-jupyter
-git

SyntaxError: invalid syntax (1878995457.py, line 1)

In [55]:
|Data Science Tools|
--------------------
|anaconda|
-----------
|jupyter notebook and lab|
 --------------------------
|vs code|
 ------------

SyntaxError: invalid syntax (3597327779.py, line 1)

In [27]:
Some of the commonly used libraries used by Data Scientists include:
1.numpy
2.matplotlib
3.scikit

SyntaxError: invalid decimal literal (1437872293.py, line 2)

In [29]:
###Below are a few examples of evaluating arithmetic expressions in Python
1+1
2%5
8/9+6

6.888888888888889

In [31]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [33]:
#This will convert 200 minutes to hours by diving by 60
print(200/60,min)

3.3333333333333335 <built-in function min>

In [ ]:
##author
yagas